body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

#circle1 {
    fill: lightblue;
    stroke: black;
}

#circle2 {
    fill: lightgreen;
}

#circle3 {
    fill: plum;
    stroke: black;
}

#circle1Text {
    fill: black;
    font-size: 5px;
}

.shapes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}